.twitter-image {
    display: inline-block;
}

.twitter-text {
    display: inline-block;
}

div.row.tweet.ng-scope {
    border: 2px dashed black;
    margin: 16px;
    padding: 10px;
}

.load-more {
    text-align: center;
}